html{
    font-family:'Montserrat';

}
body{
    max-height: 1100px;
    border: 0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}
#side{
    position: absolute;
    left: 0;
    height: 100%;
    width: 27%;
    font-family: 'Share Tech';
}
#content{
    position: absolute;
    right: 0;
    height: 100%;
    width: 73%;
}
#img{
    background-image: url(img.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;

}
#board{
    height: 25%;
    width: 100%;
    position: absolute;
    top: 25%;
    background-color: rgba(48,48,48,0.7);
     display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 50px;
}
#odinimg{
    height: 120px;
    width: 120px;
    color: white;
   
}
#o,#t,#th{
    width: 100%;
    /* height: 30%; */
    display: flex;
    flex-direction: column;
}
#o p{
width: 70%;
margin-left: 10%;
}
#o span{
    margin-left: 10%;
}
#o{
   font-weight: bold;
    justify-content: center;
    /* align-items: center; */

    background-color: rgb(245, 245, 244);
    height: 28%;
}
#t{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    height: 34%; 
    margin-top: 20px;
    gap: 20px;
}
#form{
    display: flex;
    flex-direction: column;
    
    text-transform: uppercase;
}
form{
     display: flex;
    flex-direction: column;
   color: rgb(190, 189, 189);
    text-transform: uppercase;
}
form > div{
    display: flex;
    flex-direction: row;
    gap: 20%;
}
form > div > div{
    display: flex;
    flex-direction: column;
}
#inp input{
    border: 1px solid #596D48;
    width: 200px;
}
input:invalid{
border-color: rgb(105, 22, 22);
}
#th{
    background-color:  rgb(245, 245, 244);
    height: 38%;
}
#th div{
    margin-top: 25px;
    margin-left: 10%;
}
#th button{
    width: 200px;
    height: 40px;
    background-color: #596D48;
    color: white;
    border: 2px solid rgba(93, 91, 91, 0.5);
    border-radius: 8%;
}
#th a{
    color: #596D48;
    text-decoration: none;
}
input:focus{
    border-color: blue;
}
