*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background: linear-gradient(to right, #bae6fd, #bbf7d0);
    display: flex;
    align-items: center;
    justify-content: center;
}
#Calculator{
    background-color: rgb(8, 47, 8);
    width: 10vw;
    height: 40vh;
    min-width: 300px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
}
#display{
    height: 20px;
    width: 80%;
    background-color: white;
    border-radius: 5%;
}
#buttons{
    min-width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 60%;

}
#Calculator button{
    height: 100%;
width: min(20%,60px);
}
.row{
    display: flex;
    justify-content: center;
    height: 20%;
}